
.nav-list {
    margin-top: 20px;
    margin-left: 40px;
}

.nav-item {
    align-content: center;
    display: inline-block;
    margin: 10px 0;
    padding: 10px 20px;
    font-size: 20px;
    color: #ded0c7;
    text-decoration: none;
    cursor: pointer;
    transition: 0.3s ease;
    user-select: none;
    border-radius: 25px;
}


.nav-item svg{
    margin-right: 10px;
}


.nav-item:hover {
    background-color: #ded0c7;
    color: #23232e;
}

h1{
    color:#ded0c7;
    transition: 1s ease;
    cursor: pointer;
}

h1:hover{
    color:#cca795;
}


