* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    height: 100%;
    font-family: Arial, sans-serif;
    background-color: #f0f2f5;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;

}

#background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    /*background-image: url("../img/ticket-background.png");*/
    filter: blur(8px);
}

.login-layout {
    display: flex;
    width: 100%;
    max-width: 1000px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.side-image {
    width: 50%;
    height: auto;
    object-fit: cover;
}

.form-container {
    width: 50%;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form-header h2 {
    margin-bottom: 20px;
    font-size: 28px;
    color: #333;
}

.input-group {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}

.input-group label {
    font-weight: bold;
    margin-bottom: 5px;
    color: #555;
}

.input-group input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.input-group small {
    margin-top: 5px;
    font-size: 12px;
    color: #999;
}

.form-options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    font-size: 14px;
}

.checkbox input {
    margin-right: 5px;
}

.form-options a {
    color: #007bff;
    text-decoration: none;
}

.form-options a:hover {
    text-decoration: underline;
}

.btn-login {
    background-color: #007bff;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 4px;
    width: 100%;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn-login:hover {
    background-color: #0056b3;
}

.bottom-button {
    margin-top: 20px;
    text-align: center;
}

.btn-outline {
    background-color: transparent;
    color: #007bff;
    padding: 10px 20px;
    border: 2px solid #007bff;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s;
}

.btn-outline:hover {
    background-color: #007bff;
    color: white;
}

#error-msg {
    color: red;
    margin-top: 10px
}