#post-main {
  height: 100%;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  width: 100%; /* mobile-first: ocupa 100% */
  padding: 10px 15px;
  box-sizing: border-box;
}

/* Desktop e tablets */
@media (min-width: 768px) {
  #post-main {
    width: 65%;
    padding: 10px 30px;
  }
}
