#post-main {
  scrollbar-width: thin; /* Para Firefox */
  scrollbar-color: #3a323c #23232e    ; /* Para Firefox */
  height: 100%;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  width: 100%; /* mobile-first: ocupa 100% */
  padding: 10px 15px;
  box-sizing: border-box;
  background-color: #d7c1b4 ;
}

/* Desktop e tablets */
@media (min-width: 768px) {
  #post-main {
    width: 70%;
    padding: 10px 30px;
  }
}
