/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    scrollbar-width: thin; /* Para Firefox */
    scrollbar-color: #3a323c  #23232e    ; /* Para Firefox */
    height: 100%;
    font-family: Arial, sans-serif;
}




#root {
    height: 100%;
    width: 100%;
}