.post-input-container {
  background-color: #6b5258 ;
  padding: 16px;
  border-radius: 8px;
  width: 100%;
  max-width: 1500px;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  margin-top: 5%;
  /* mobile-first */
}

.post-input-header {
  display: flex;
  gap: 12px;
  align-items: center;
  flex-wrap: nowrap;
}

.post-input-header > textarea{
  background-color: #ded0c7;
}

.avatar {
  width: 50px;
  height: 50px;
  background-color: #a37370 ;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

.post-textarea {
  flex: 1;
  border: none;
  border-radius: 8px;
  padding: 12px;
  resize: none;
  font-size: 14px;
  font-family: inherit;
  min-height: 60px;
  box-sizing: border-box;
}

.post-textarea:focus {
  outline: none;
}

.post-input-footer {
  margin-top: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 12px;
}

.post-icons span {
  font-size: 20px;
  margin-right: 12px;
  cursor: pointer;
  user-select: none;
}

.publish-button {
  background-color: #a37370 ;
  color: white;
  border: none;
  padding: 8px 20px;
  border-radius: 20px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease;
  flex-shrink: 0;
}

.publish-button:hover {
  background-color: #a37370 ;
}

/* Tablets e desktops */
@media (min-width: 768px) {
  .avatar {
    width: 48px;
    height: 48px;
    font-size: 24px;
  }

  .post-textarea {
    font-size: 16px;
    min-height: 80px;
  }

  .post-input-footer {
    flex-wrap: nowrap;
    gap: 0;
  }
}
