.post-input-container {
  background-color: #6b5258 ;
  padding: 16px;
  border-radius: 8px;
  width: 100%;
  max-width: 1500px;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  margin-top: 5%;
  /* mobile-first */
}

.post-input-header {
  display: flex;
  gap: 12px;
  flex-wrap: nowrap;
}

.post-input-header > textarea{
  background-color: #ded0c7;
}

.avatar {
  width: 50px;
  height: 50px;
  background-color: #a37370 ;
  border-radius: 50%;
  display: flex;
  justify-content: left;
  flex-shrink: 0;
}

.post-textarea {
  background-color: #ded0c7;
  flex: 1;
  border: none;
  border-radius: 8px;
  padding: 12px;
  resize: none;
  font-size: 14px;
  font-family: inherit;
  box-sizing: border-box;
}

.post-textarea:focus {
  outline: 3px solid #3a323c ;
}

.post-input-footer {
  margin-top: 12px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 12px;
}

.post-icons span {
  font-size: 20px;
  margin-right: 12px;
  cursor: pointer;
  user-select: none;
}

.publish-button {
  background-color: #a37370 ;
  color: white;
  border: none;
  padding: 8px 20px;
  border-radius: 20px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease;
  flex-shrink: 0;
}

.publish-button:hover {
  background-color: #a37370 ;
}

.movie-autocomplete {
  position: relative;
}

.movie-search-input {
  margin-top: 8px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 14px;
  width: 100%;
}

.post-input-fields {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.movie-id-input {
  margin-top: 8px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 14px;
}

.movie-suggestions {
  position: absolute;
  background-color: white;
  border: 1px solid #ccc;
  width: 100%;
  max-height: 180px;
  overflow-y: auto;
  border-radius: 6px;
  margin-top: 2px;
  z-index: 10;
  list-style: none;
  padding: 0;
}

.movie-suggestions li {
  padding: 8px;
  cursor: pointer;
}

.movie-suggestions li:hover {
  background-color: #f0f0f0;
}

/* Tablets e desktops */
@media (min-width: 768px) {
  .avatar {
    width: 48px;
    height: 48px;
    font-size: 24px;
  }

  .post-textarea {
    font-size: 16px;
    min-height: 200px;
  }

  .post-input-footer {
    flex-wrap: nowrap;
    gap: 0;
  }
}




.movie-autocomplete > input{
  background-color: #ded0c7 ;
}

.movie-autocomplete > input:focus{
  outline: 3px solid #3a323c ;
}