.movie-detail {
  margin: auto;
  margin-left: auto;
  padding: 20px;
  color: #ded0c7;
  font-family: Arial, sans-serif;
  background: #23232e;
  height: 100%;
  width: 100%;
  overflow: auto;
}

.back-button {
  font-size: 40px;
  cursor: pointer;
}

.back-button:hover {
  color: #cca795;
}

.movie-info {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}

.movie-info img {
  width: 300px;
  border-radius: 10px;
}

.movie-meta {
  flex: 1;
  font-size: 1rem;
}

.movie-overview {
  margin-top: 20px;
}

.movie-production {
  display: flex;
  flex-direction: column;
  gap: 100px;
  align-items: center;
}

.movie-production ul {
  list-style: none;
  padding: 0;
}

.movie-production li {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  flex-direction: column;
  gap: 10px;
}

.movie-production h3 {
  font-size: 2rem;
  margin-bottom: 10px;
}

.production-companies {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
}

.watch-toggle {
  background-color: #d7c1b4;
  color: #23232e;
  border: none;
  padding: 10px 16px;
  margin: 10px 0;
  cursor: pointer;
  font-size: 1rem;
  display: flex;
  align-items: center;
  transition: background-color 0.3s;
  border-bottom: 5px solid #cca795 ;
  border-top:  5px solid #ded0c7 ;
}

.watch-toggle:hover {
  background-color: #cca795;
    border-bottom: 5px solid #c27f6f ;
  border-top:  5px solid #d7c1b4 ;
}

@media (max-width: 768px) {
  .movie-info {
    flex-direction: column;
    align-items: center;
  }

  .movie-info img {
    width: 90%;
    max-width: 300px;
  }

  .movie-meta {
    width: 100%;
    font-size: 0.95rem;
    padding: 10px;
  }

  .movie-meta p {
    margin: 6px 0;
    white-space: normal; 
  }

  .movie-overview {
    padding: 0 10px;
    text-align: justify;
  }

  .movie-production {
    gap: 40px;
    padding: 10px;
  }

  .production-companies {
    justify-content: center;
    gap: 20px;
  }

  .movie-production li {
    flex-direction: column;
    text-align: center;
    max-width: 120px;
  }

  .movie-detail {
    padding-top: 60px;
  }
}

.movie-meta > p > strong,
.movie-overview > h2{
  color:#c27f6f ;
}

.movie-production > h3{
  color:#c27f6f ;
}